language: ruby
os: linux
dist: xenial

cache: bundler

rvm:
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.10
  - 2.5.8
  - 2.6.6
  - 2.7.1

gemfile:
  - gemfiles/am_3.2.gemfile
  - gemfiles/am_4.0.gemfile
  - gemfiles/am_4.1.gemfile
  - gemfiles/am_4.2.gemfile
  - gemfiles/am_5.0.gemfile
  - gemfiles/am_5.1.gemfile
  - gemfiles/am_5.2.gemfile
  - gemfiles/am_6.0.gemfile

jobs:
  exclude:
    - rvm: 2.1.10
      gemfile: gemfiles/am_5.0.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/am_5.1.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/am_5.2.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/am_6.0.gemfile

    - rvm: 2.2.10
      gemfile: gemfiles/am_6.0.gemfile

    - rvm: 2.3.8
      gemfile: gemfiles/am_4.0.gemfile
    - rvm: 2.3.8
      gemfile: gemfiles/am_4.1.gemfile
    - rvm: 2.3.8
      gemfile: gemfiles/am_6.0.gemfile

    - rvm: 2.4.10
      gemfile: gemfiles/am_3.2.gemfile
    - rvm: 2.4.10
      gemfile: gemfiles/am_4.0.gemfile
    - rvm: 2.4.10
      gemfile: gemfiles/am_4.1.gemfile
    - rvm: 2.4.10
      gemfile: gemfiles/am_6.0.gemfile

    - rvm: 2.5.8
      gemfile: gemfiles/am_3.2.gemfile
    - rvm: 2.5.8
      gemfile: gemfiles/am_4.0.gemfile
    - rvm: 2.5.8
      gemfile: gemfiles/am_4.1.gemfile
    - rvm: 2.5.8
      gemfile: gemfiles/am_4.2.gemfile

    - rvm: 2.6.6
      gemfile: gemfiles/am_3.2.gemfile
    - rvm: 2.6.6
      gemfile: gemfiles/am_4.0.gemfile
    - rvm: 2.6.6
      gemfile: gemfiles/am_4.1.gemfile
    - rvm: 2.6.6
      gemfile: gemfiles/am_4.2.gemfile

    - rvm: 2.7.1
      gemfile: gemfiles/am_3.2.gemfile
    - rvm: 2.7.1
      gemfile: gemfiles/am_4.0.gemfile
    - rvm: 2.7.1
      gemfile: gemfiles/am_4.1.gemfile
    - rvm: 2.7.1
      gemfile: gemfiles/am_4.2.gemfile
    - rvm: 2.7.1
      gemfile: gemfiles/am_5.0.gemfile
    - rvm: 2.7.1
      gemfile: gemfiles/am_5.1.gemfile
    - rvm: 2.7.1
      gemfile: gemfiles/am_5.2.gemfile

script: bundle exec rake
