name: Ruby specs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Ruby specs
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['2.6.10', '2.7.6', '3.0.4', '3.1.2']
        gemfile: [am_6.0, am_6.1, am_7.0]
        experimental: [false]

        include:
          - ruby-version: '2.7.6'
            gemfile: am_edge
            experimental: true

          - ruby-version: '3.0.4'
            gemfile: am_edge
            experimental: true

          - ruby-version: '3.1.2'
            gemfile: am_edge
            experimental: true

          - ruby-version: 'head'
            gemfile: am_7.0
            experimental: true
          - ruby-version: 'head'
            gemfile: am_edge
            experimental: true

        exclude:
          - ruby-version: '2.6.10'
            gemfile: am_7.0

          - ruby-version: '3.1.2'
            gemfile: am_6.0
          - ruby-version: '3.1.2'
            gemfile: am_6.1

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      TEST_CONFIG: ./spec/config.github.yml

    continue-on-error: ${{ matrix.experimental }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run specs
      run: bundle exec rake spec
