name: Ruby specs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test:
    name: Ruby specs
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.0', '3.1', '3.2', '3.3', '3.4']
        gemfile: [am_7.0, am_7.1, am_7.2, am_8.0, am_8.1]
        channel: [stable]

        include:
          - ruby-version: '3.2'
            gemfile: am_edge
            channel: experimental

          - ruby-version: '3.3'
            gemfile: am_edge
            channel: experimental

          - ruby-version: '3.4'
            gemfile: am_edge
            channel: experimental

          - ruby-version: 'head'
            gemfile: am_7.1
            channel: experimental
          - ruby-version: 'head'
            gemfile: am_7.2
            channel: experimental
          - ruby-version: 'head'
            gemfile: am_8.0
            channel: experimental
          - ruby-version: 'head'
            gemfile: am_8.1
            channel: experimental
          - ruby-version: 'head'
            gemfile: am_edge
            channel: experimental

        exclude:
          - ruby-version: '3.0'
            gemfile: am_7.2
          - ruby-version: '3.0'
            gemfile: am_8.0
          - ruby-version: '3.0'
            gemfile: am_8.1

          - ruby-version: '3.1'
            gemfile: am_8.0
          - ruby-version: '3.1'
            gemfile: am_8.1

          - ruby-version: '3.4'
            gemfile: am_7.0

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    continue-on-error: ${{ matrix.channel != 'stable' }}

    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run specs
      run: bundle exec rake spec
