name: Ruby specs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test:
    name: Ruby specs
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['2.6', '2.7', '3.0', '3.1', '3.2']
        gemfile: [am_6.0, am_6.1, am_7.0, am_7.1]
        channel: [stable]

        include:
          - ruby-version: '2.7'
            gemfile: am_edge
            channel: experimental

          - ruby-version: '3.0'
            gemfile: am_edge
            channel: experimental

          - ruby-version: '3.1'
            gemfile: am_edge
            channel: experimental

          - ruby-version: '3.2'
            gemfile: am_edge
            channel: experimental

          - ruby-version: 'head'
            gemfile: am_7.0
            channel: experimental
          - ruby-version: 'head'
            gemfile: am_7.1
            channel: experimental
          - ruby-version: 'head'
            gemfile: am_edge
            channel: experimental

        exclude:
          - ruby-version: '2.6'
            gemfile: am_7.0
          - ruby-version: '2.6'
            gemfile: am_7.1

          - ruby-version: '3.1'
            gemfile: am_6.0
          - ruby-version: '3.1'
            gemfile: am_6.1

          - ruby-version: '3.2'
            gemfile: am_6.0
          - ruby-version: '3.2'
            gemfile: am_6.1

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      TEST_CONFIG: ./spec/config.github.yml

    continue-on-error: ${{ matrix.channel != 'stable' }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run specs
      run: bundle exec rake spec
